<style>
    label{
        font-weight: bold;
    }
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
    }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Book Shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample05">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="about(this)">About</a>
            </li>
            {{#if logged}}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Profile</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown05">
                    <a class="dropdown-item" href="/user/edit">Edit</a>
                    <a class="dropdown-item" href="/user/profile">Dashboard</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/user/logout">Logout</a>
                </div>
            </li>
            {{else}}
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            {{/if}}

        </ul>
    </div>
</nav>
<div class="container" style="margin-top: 25px">
    <div class="row">
        <div class="col-6 offset-3">
            <form action="" method="post" enctype="application/x-www-form-urlencoded">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" name="title" id="title" class="form-control" value="{{book.title}}">
                </div>
                <div class="form-group">
                    <label for="author">Author</label>
                    <input type="text" name="author" id="author" class="form-control" value="{{book.author}}">
                </div>
                <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <input type="number" name="quantity" id="quantity" class="form-control" value="{{book.quantity}}">
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="text" name="price" id="price" class="form-control" pattern="^\d*(\.\d{0,2})?$" value="{{book.price}}">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn-block btn-success btn">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>